@import "../../../scss/variables/variabls.scss";
.landing-page {
  position: relative;
  padding-bottom: 129px;
  .hero {
    .flex {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1228px) {
        margin-top: 30px;
        & {
          justify-content: center;
          text-align: center;
        }
        .btns-container {
          justify-content: center;
        }
      }
      .column1 {
        flex: 0 1 500px;
        h1 span {
          color: $primary-clr;
          position: relative;
          &::after {
            content: url("../../../assets/landing-page/underline.svg");
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
            transform: translateY(25%);
            z-index: -1;
          }
        }
        p.value {
          margin-top: 44px;
          margin-bottom: 25px;
        }
        ul {
          display: flex;
          gap: 50px;
          font-family: "Lobster Two";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 53px;
          li {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
        .btns-container {
          display: flex;
          gap: 35px;
          @media (max-width: 436px) {
            flex-direction: column;
            gap: 15px;
            align-items: stretch;
          }
        }
      }
      .column2 {
        flex: 0 1 665px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .light-blue-bg {
    position: absolute;
    width: 47%;
    right: 0;
    height: 120%;
    top: -20%;
    background: rgba(230, 246, 253, 0.8);
    z-index: -1;
  }

  .departments {
    text-align: center;
    margin-top: 86px;
    margin-bottom: 100px;
    .flex {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 44px;
      row-gap: 22px;
      flex-wrap: wrap;
      .department {
        flex: 0 1 361px;
        background-repeat: no-repeat;
        background-image: url("../../../assets/landing-page/departement-bg.svg");
        text-decoration: none;

        h4 {
          font-weight: 400;
          font-size: 22px;
          color: #393939;
          margin-bottom: 20px;
        }
        img {
          width: 89px;
          height: 89px;
          filter: grayscale(100%);
        }
        &:hover {
          background-image: url("../../../assets/landing-page/departement-bg-hover.svg");
          img {
            filter: initial;
          }
          h4 {
            color: $primary-clr-dark;
          }
        }
      }
    }
  }
}
